.nickname-line {
    position:relative;
}

.nickname-line::after {
  content: "";
  display:block;
  width: 2px; /* 세로선의 두께 */
  height: 10px; /* 세로선의 높이 */
  background-color:  #CCCCCC; /* 세로선의 색상 */
  position:absolute;
  right:0;
  top:24%;
}

.card-title {
    color:#00ce7c;
}
.card-title:hover {
    color:white;
    background-color:#00ce7c;
}
.card-title {
    position:relative;
}
.region-name-card {
    position:absolute;
    z-index:2;
    background-color:white;
    margin-top:4px;
    margin-left:4px;
    text-align:center;
}

.card-body > img {
    width:300px;
    height:160px;
}

.maps-drop {
      background-color:#00ce7c;
      width:100px;
      height:30px;
      transition: width 2s, height 2s;

}

.maps-drop > svg {
    border-radius:10px;
    margin-left:-160px;
    transition: width 3s, height 3s, background-color 1s;
}
.maps-drop:hover {
    display:inline-block;
    background-color:#00ce7c;
    border-radius:0;
    height:800px;
}
.maps-drop:hover > svg {
    height:800px;
    width:400px;
}












