.mypage-container{
    width:1200px;
    height:600px;
    border:solid 2px red;
    margin:0 auto;
    text-align:center;
    display:flex;
    justify-content:space-between;

}

.my-community-container {
    width:700px;
    border:solid 2px red;
}
.my-community-container > div {
    display:flex;
    justify-content:space-between;
    border:solid 2px blue;
}

.mypage-category{
    width:400px;
    border:solid 2px red;
}