.header {
      position:fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color:white;
      box-shadow: rgba(0,0,0,0.08) 0px 1px 2px;
      z-index:9990;
}
/*헤더 레이아웃 틀*/

.home-container {
    display:flex;
    align-items:space-between;
    justify-content:space-between;
    flex-wrap:wrap;
    min-width:600px;
    max-width:1200px;
    height:140px;
    margin:0 auto;

}

.home-logo {
    display:inline-block;
    width:300px;
    height:60px;
    display:flex;
    align-items:center;

}

.home-logo > a {
    font-size:30px;
    display:block;
    color:#00CE7C;
}

.navbar {
    height:60px;
    width: 300px;
    display:flex;
    justify-content:space-around;
    align-items:center;

}
.writer {
    border-radius:12px;
    background-color:#00ce7c;
    width:100px;
    height:40px;
    padding-top:8px;
    color:white;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    border:none;
}
.writer:hover {
    background-color:white;
    border:1px solid #00ce7c;
}

/*여기까지 상단 내비바*/

/*여기부터 하단 내비바*/
.bottom-navbar {
    width:1200px;
    display:flex;
    justify-content:space-between;
}

/*여기부터 맵 드롭다운 버튼*/

.maps-drop {
      background-color:#04B404;
      width:100px;
      height:100px;
      border-radius:50%;
      transition: width 2s, height 2s;
}
.maps-drop:hover {
    display:inline-block;
    background-color:#04B404;
    height:800px;
    width:600px;
    border-radius:50%;
}

.maps-drop > svg {
    display:none;
    margin-left:-60px;
    margin-top:-120px;
    transition: width 3s, height 1s, background-color 1s;
}

.maps-drop:hover > svg {
    display:inline-block;
    height:800px;
    width:400px;
}
/*맵 드롭다운 끝*/

/*검색바*/
.search-bar {
    display:flex;
    align-items:center;
}

/*검색 내용*/
.search-content {
    width:100%;
}

/*검색 글씨 버튼*/
.search-button{
    right:10px;
    height:30px;
    border:none;
    color:#00CE7C;

}



