<html layout:decorate="~{Layout}">

<div layout:fragment="content">
        <nav th:replace="SignNavBar :: SignNavBarFragment"></nav>

    <div class="mypage-container">

        <div class="mypage-category">

        </div>

        <div class="my-community-container">
            <div th:each="Community : ${paging}">
                <div th:if="${name.nickname} == ${Community.author.nickname}">
                    <a th:href="@{|/community/detail/${Community.id}|}" th:text="${Community.author.nickname}"></a>
                    <a th:href="@{|/community/detail/${Community.id}|}" th:text="${Community.region}"></a>
                    <a th:href="@{|/community/detail/${Community.id}|}" th:text="${Community.subject}"></a>
                    <a th:href="@{|/community/detail/${Community.id}|}" th:text="${Community.content}"></a>
                </div>
            </div>
        </div>

    </div>

</div>
</html>

