<!DOCTYPE html>
<body>
<th:block th:fragment="NavBarFragment">
    <div class="header">

<!--        홈으로 가는 사이트 로고-->
        <div class="home-container pt-1">
            <nav class="home-logo">
                <a class="nav-link" th:href="@{/main}">TripNotice</a>
            </nav>
<!--            로고 끝-->

<!--            로고 라인 상단 내비바-->
            <nav class="navbar">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}" style="font-weight:bold; font-size:18px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">로그인</a>

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">로그인</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/user/login}" method ="post">
                                    <div class="form-outline mb-3" style="text-align:center;">
                                        <label for="username"></label>
                                        <input type="text" name="username" id="username" placeholder="아이디를 입력 해주세요" style="width:200px; height: 40px; border-radius:5px; border:1px solid gray; padding: 10px;">
                                    </div>
                                    <div class="form-outline mb-3" style="text-align: center;">
                                        <label for="password"></label>
                                        <input type="password" name="password" id="password" placeholder="비밀번호를 입력 해주세요" style="width:200px; height: 40px; border-radius:5px; border:1px solid gray; padding: 10px;">
                                    </div>
                                    <div class="modal-footer">
                                        <a th:href="@{/user/signup}" class="btn btn-primary" >회원가입</a>
                                        <button type="submit" class="btn btn-primary">로그인</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}" style="font-weight:bold; font-size:18px; " >회원가입</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}" style=" font-weight:bold; font-size:18px;">로그아웃</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/mypage}" style=" font-weight:bold; font-size:18px; ">마이페이지</a>
                    <button class="writer btn" th:onclick="|location.href='@{/writer/content}'|"> 글쓰기</button>
            </nav>
<!--            상단 내비바 끝-->


<!--            하단 내비바 시작-->
            <div class="bottom-navbar">
<!--                카테고리 별 이동 구분-->
                <div class="w-25 nav nav-tabs">
                    <a class="nav-link fs-5 text-muted" id="homeBtn" th:href="@{/main}">메인</a>
                    <a class="nav-link fs-5 text-muted" aria-current="active" id="communityBtn" th:href="@{/community}">커뮤니티</a>
                </div>
<!--                카테고리 끝-->

<!--                맵 드롭다운 시작-->
<!--                <div class="dropdown" style="position:absolute; right:50%; top:20px; text-align:center;">-->
<!--                    <button class="btn maps-drop">-->
<!--                        <div style="color:white;">지도 보기</div>-->
<!--                        <svg th:replace="Maps :: mapsfragment"></svg>-->
<!--                    </button>-->
<!--                </div>-->
<!--                맵 드롭다운 끝-->

<!--                검색바-->
                <div id="search" class="search-bar">
                    <div>
<!--                        검색 키워드 받기-->
                        <div class="search-text">
                            <input class="search-content" type="text" id="search_kw"  th:value="${kw}">
                            <input class="search-button" value="검색" type="button" id="btn_search" style="background-color:white;">
                        </div>
                    </div>
<!--                    커뮤니티에 받은 키워드를 갖고 겟요청하기-->
                    <form th:action="@{/community}" method="get" id="searchBar">
                        <input type="hidden" id="keyword" name="kw" th:value="${kw}">
                    </form>

<!--                    찾은 키워드를 첫 페이지부터 뿌려주기-->
                    <form th:action="@{/community}" method="get" id="searchForm">
                        <input type="hidden" id="kw" name="kw" th:value="${kw}">
                        <input type="hidden" id="page" name="page" th:value="${paging.number}">
                    </form>
                </div>
            </div>
        </div>



    </div>

<script type='text/javascript'>

    const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
   const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
</th:block>

</body>

</html>