<html layout:decorate="~{Layout}">


<div layout:fragment="content">
    <nav th:replace="SignNavBar :: SignNavBarFragment"></nav>




<!--    글쓰기 전체 틀-->
    <div class="writer-template">

<!--        글 내용 등을 보내는 폼-->
        <form class="writer-article mx-auto d-flex flex-wrap" th:object="${communityForm}" th:action="@{/writer/content}" style="width:1200px;" onsubmit="return validateForm()" method="post">

<!--            글 내용 에러처리-->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div th:if="${#fields.hasAnyErrors()}">
                <div class="alert" role="alert" th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </div>

<!--            지역 선택 틀-->
            <div class="region-outline mb-5 mx-auto p-3 d-flex shadow-sm p-3 bg-body rounded w-75" >
<!--                지역글씨 헤드라인-->
                <div style="font-size:20px; z-index:1; position:absolute; left:50%;">지역</div>

<!--                윗쪽 지역 묶음 카드-->
                <div class="region-outline category shadow-sm p-3 mt-5 bg-body rounded w-25">
                    <div class="shadow-sm">
                        <input type="radio" th:value="인천" class="incheon" name="region" id="incheon" th:field="*{region}">
                        <label for="incheon" >인천</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="서울" class="seoul" name="region" id="seoul" th:field="*{region}">
                        <label for="seoul" >서울</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="강원도" class="kangwon" name="region" id="kangwondo" th:field="*{region}">
                        <label for="kangwondo" >강원도</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="경기도" class="gyung-gi" name="region" id="gyung-gi" th:field="*{region}">
                        <label for="gyung-gi" >경기도</label>
                    </div>
                </div>
<!--                중간지역 묶음 카드-->
                <div class="region-outline category shadow-sm p-3 mt-5 bg-body rounded w-25">
                    <div class="shadow-sm">
                        <input type="radio" th:value="대전" class="daejeon" name="region" id="daejeon" th:field="*{region}">
                        <label for="daejeon">대전</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="세종" class="sejong" name="region" id="sejong" th:field="*{region}">
                        <label for="sejong">세종</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="충남" class="chungnam" name="region" id="choongnam" th:field="*{region}">
                        <label for="choongnam">충남</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="경상북도" class="gyungbuk" name="region" id="gyungsangbookdo" th:field="*{region}">
                        <label for="gyungsangbookdo">경상북도</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="충북" class="chungbuk" name="region" id="choongbook" th:field="*{region}">
                        <label for="choongbook">충북</label>
                    </div>
                </div>

<!--                오른쪽 지역 묶음 카드-->
                <div class="region-outline category shadow-sm p-3 mt-5 bg-body rounded w-25">
                    <div class="shadow-sm">
                        <input type="radio" th:value="대구" class="daegu" name="region" id="daegu" th:field="*{region}">
                        <label for="daegu">대구</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="부산" class="busan" name="region" id="busan" th:field="*{region}">
                        <label for="busan">부산</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="경상남도" class="gyungnam" name="region" id="gyungsangnamdo" th:field="*{region}">
                        <label for="gyungsangnamdo">경상남도</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="전북" class="jeonbuk" name="region" id="jeonbook" th:field="*{region}">
                        <label for="jeonbook">전북</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="전주" class="jeonju" name="region" id="jeonju" th:field="*{region}">
                        <label for="jeonju">전주</label>
                    </div>
                </div>

<!--                아래쪽 지역 묶음 카드-->
                <div class="region-outline category shadow-sm p-3 mt-5 bg-body rounded w-25">
                    <div class="shadow-sm">
                        <input type="radio" th:value="제주도" class="jeju" name="region" id="jeju" th:field="*{region}">
                        <label for="jeju">제주도</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="울산" class="ulsan" name="region" id="ulsan" th:field="*{region}">
                        <label for="ulsan">울산</label>
                    </div>
                    <div class="shadow-sm">
                        <input type="radio" th:value="광주" class="gwangju" name="region" id="gwangju" th:field="*{region}">
                        <label for="gwangju">광주</label>
                    </div>
                </div>
            </div>

            <!--      제목-->
            <input type="text" class="writer-subject w-100 shadow-sm mb-5 bg-body rounded" name="subject" id="subject" th:field="*{subject}" placeholder="제목을 입력해주세요" style="padding:20px;">
            <!--        내용-->
            <textarea class="writer-content shadow-sm mb-5 bg-body rounded" name="content" id="content" th:field="*{content}" placeholder="내용을 입력해주세요"  style="padding:20px;"></textarea>

    <!--        저장하기버튼-->
            <div class="w-100 d-flex justify-content-center pt-3">
                <input class="shadow-sm bg-body rounded btn" type="submit" value="저장하기" name="save"  style="width:100px; margin-right:10px;">
                <input class="shadow-sm bg-body rounded btn" type="button" name="exit" value="취소" onclick="exitButton()" style="width:100px; height:50px; margin-left:10px;">
            </div>
        </form>
    </div>
    <script type="text/javascript">

       function validateForm(e) {
          var selectedRegion = document.querySelector('input[name="region"]:checked');
          var subject = document.getElementById('subject').value.trim();
          var content = document.getElementById('content').value.trim();

          var saveBtn = confirm('저장하시겠습니까?');


          if (!selectedRegion) {
            alert("지역을 선택해주세요.");
            return false;
          } else if (subject === '') {
            alert('제목을 입력 해주세요.');
            return false;
          } else if (content === '') {
            alert('내용을 입력 해주세요.');
            return false;
          }

           if (saveBtn) {
                return true;
            }else {
                return false;
            }

          return true;

        }


       function exitButton(){
            var exitButton = document.querySelector('input[name="exit"]');

            exitButton = confirm('글 작성을 취소하시겠습니까?');

            if(exitButton == true) {
                window.history.back();
            }
            else{
                return false;
            }
       }
    </script>
</div>

</html>